<div id="wrapper">
    <!-- Sidebar -->
    <app-sidebar></app-sidebar>
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">
        <!-- Main Content -->
        <div id="content">
            <!-- Topbar -->
            <app-topbar></app-topbar>
            <!-- End of Topbar -->

            <!-- Begin Page Content -->
            <div class="container-fluid">
                <!-- Page Heading -->
                <div class="d-sm-flex align-items-center justify-content-between mb-4">
                    <h1 class="h3 mb-0 text-gray-800">Categories Management</h1>
                </div>
                <div class="row">
                    <!-- Area Chart -->
                    <div class="col">
                        <div class="card shadow mb-4">
                            <!-- Card Header - Dropdown -->
                            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                <h6 class="m-0 font-weight-bold text-primary">Edit Category</h6>
                                <a routerLink="/categories-list"><i class="fas fa-reply"></i
                ></a>
                            </div>
                            <!-- Card Body -->
                            <form [formGroup]="updateCategoryForm" (ngSubmit)="updateCategory()">
                                <div class="card-body">
                                    <div class="form-group col-4">
                                        <label>ID</label>
                                        <input type="text" class="form-control" formControlName="id" aria-describedby="nameHelp" readonly />
                                    </div>
                                    <div class="form-group col-4">
                                        <label>Name</label>
                                        <input type="text" class="form-control" formControlName="name" aria-describedby="nameHelp" />
                                        <div class="text-danger" *ngIf="name.touched && name.invalid">
                                            <p *ngIf="name.errors.required">Name is required</p>
                                            <p *ngIf="name.errors.minlength">
                                                Name must be at least 3 characters
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-footer">
                                    <button type="submit" [disabled]="updateCategoryForm.invalid" class="btn btn-primary">
                    Submit
                  </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.container-fluid -->
        </div>
        <!-- End of Main Content -->

        <!-- Footer -->
        <app-footer></app-footer>
        <!-- End of Footer -->
    </div>
    <!-- End of Content Wrapper -->
</div>